input{
    width:60%;
    background-color: var(--primcol);
    border: none;
    border-radius: var(--bordad);
    padding: var(--padding);
    margin: var(--margin);
    font-size: var(--fsize);
    font-family: var(--ffam);
    color: var(--fcol);
    outline: none;
}

.ccontainer{
   display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.ccontent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.clheading{
    font-size: clamp(100%, 200%, 300%);
    font-family: var(--ffam);
    color: rgb(255, 255, 255);
    text-align: center;
    background-color:var(--selcol);
    border-radius:var(--);
    width: 80%;
    padding: var(--padding);
}

.cmheading{
    font-size: clamp(100%, 200%, 300%);
    font-family: var(--ffam);
   
}



  select {
    width: 60%;
    padding:var(--padding);
    border-radius: var(--bordad);
    border: none;
    background-color: #f2f2f2;
    outline: none;
    background-color: var(--primcol);
  }


  .bdataipt{
    width: 90%;
    border-radius: var(--bordad);
    padding: var(--padding);
    margin: var(--margin);
    background-color: cornflowerblue;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

.cvalshow{
    width: 15%;
}
.vallabel{
    width: 25%;
    overflow: scroll;
    color: #ffffff;
}

.notice{
    background-color: #e7dc4183;
}

#cfindfp{
    width: 30%;
    background-color: #06196e;
    color: antiquewhite;
    font-size: 120%;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri';
    font-weight: lighter;
    font-style: oblique;
    padding: calc(var(--padding)*2);
    border-radius: var(--bordad);
    box-shadow: 15px 15px 25px rgba(12, 12, 12, 0.719);
    margin: var(--margin);
    text-align: center;
    cursor: pointer;

}
#cfindfp:hover{
    background-color: #002fff;
    box-shadow: 15px 15px 25px rgba(12, 12, 12, 0.719);
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
}

