#profiledata{
    text-align: center;
    font-size: 120%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--primcol);
    box-shadow: 15px 15px 25px rgba(12, 12, 12, 0.719);
    width:clamp(300px, 60vw, 900px);
    border-radius: var(--bordad);
}
.profilebox{
    display: flex;
    flex-direction: column;
    margin: auto;
    
}
#profileimg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 15px 15px 25px rgba(12, 12, 12, 0.719);
    margin:var(--margin);

}
#profileLoginbtn,#walladdrbtn{
    background-color: #06196e;
    color: antiquewhite;
    font-size: 100%;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: calc(var(--padding)*2);
    border-radius: var(--bordad);
    box-shadow: 15px 15px 25px rgba(12, 12, 12, 0.719);
    text-align: center;
    cursor: pointer;
    width: clamp(20px, 50vw, 400px);
    margin: auto;
    margin-bottom:calc(var(--margin)*2);
}
#profileLoginbtn:hover,#walladdrbtn:hover{
    background-color: #002fff;
    box-shadow: 15px 15px 25px rgba(12, 12, 12, 0.719);
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
}
#profilename{
    margin: auto;
    margin-bottom: calc(var(--margin)*2);
    color: antiquewhite;
    font-size: 150%;

}
#profilescore{
    background-color: var(--primcol);
    color: antiquewhite;
    margin-top: calc(var(--margin)*2);
    border-radius: var(--bordad);
    box-shadow: 15px 15px 25px rgba(12, 12, 12, 0.719);
    padding: calc(var(--padding)*2);
    text-align: center;
    width: 60vw;
    margin-bottom:calc(var(--margin)*2);
}
#profimg{
    margin: auto;
    border-radius: var(--bordad);
    height: 20vh;
    width: 20vw;
}
#profileNFTimg{
    width: clamp(300px, 60vw, 800px);
    display: grid ;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    border-radius: var(--bordad);
    background-color: rgba(0, 255, 255, 0.39);
    padding: var(--padding);
}
#profileNFTimg img{
    height: 10vh;
    width: 10vh;
    background-color: transparent;
    border-radius: 50%;
}

#walladdr{
    width: clamp(300px, 60vw, 800px);
    background-color: aliceblue;
}